<aside id="app-aside" class="sidebar bg-dark text-white h-100" aria-label="Sidebar">
    <div class="flex-shrink-0" style="width: 250px;">

        <section id="asideADMIN">
            <p class="text-uppercase p-0 m-0 small fw-bold text-center p-3">ADMIN</p>
            <ul class="nav flex-column text-white p-0 m-0 mb-4">
                <li class="nav-item">
                    <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#dashboard" role="button" aria-expanded="false" aria-controls="dashboard">
                    <span>
                        <i class="pe-1 bi bi-speedometer"></i>
                        Vezérlőpult
                    </span>
                    </a>
                    <div class="collapse submenu bg-black" id="dashboard">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link link-light" href="{{ path('web_block_index') }}">Összes blokk</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="{{ path('web_block_add') }}">Új blokk hozzáadása</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="nav flex-column text-white p-0 m-0 mb-4">
                <li class="nav-item">
                    <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#favourites" role="button" aria-expanded="false" aria-controls="favourites">
                    <span>
                        <i class="pe-1 bi bi-star"></i>
                        Kedvencek
                    </span>
                    </a>
                    <div class="collapse submenu bg-black" id="favourites">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link link-light" href="{{ path('web_block_index') }}">Összes blokk</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="{{ path('web_block_add') }}">Új blokk hozzáadása</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </section>


        <section id="asideERP">
            <p class="text-uppercase p-0 m-0 small fw-bold text-center p-3">ERP | Vállalatirányítás</p>
            <ul class="nav flex-column text-white p-0 m-0 mb-4">
                <li class="nav-item">
                    <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#tasks" role="button" aria-expanded="false" aria-controls="tasks">
                    <span>
                        <i class="pe-1 bi bi-list-ul"></i>
                        Feladatkezelő
                    </span>
                    </a>
                    <div class="collapse submenu" id="tasks">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link link-light" href="{{ path('erp_task_list') }}">Összes feladat</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="{{ path('erp_task_add') }}">Új hozzáadása</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </section>

        <section id="asideWEB">
            <p class="text-uppercase p-0 m-0 small fw-bold text-center p-3">CMS | Tartalomkezelés</p>
            <ul class="nav flex-column text-white p-0 m-0 mb-4">
                <li class="nav-item">
                    <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#blocks" role="button" aria-expanded="false" aria-controls="blocks">
                    <span>
                        <i class="pe-1 bi bi-bricks"></i>
                        Blokk
                    </span>
                    </a>
                    <div class="collapse submenu bg-black" id="blocks">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link link-light" href="{{ path('web_block_index') }}">Összes blokk</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="{{ path('web_block_add') }}">Új blokk hozzáadása</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item border-top2">
                    <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#posts" role="button" aria-expanded="false" aria-controls="posts">
                    <span>
                        <i class="pe-1 bi bi-pin-angle-fill"></i>
                        Bejegyzések
                    </span>
                    </a>
                    <div class="collapse submenu bg-black p-0 m-0" id="posts">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link link-light" href="#">Összes bejegyzés</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="#">bejegyzés hozzáadása</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="#">Kategóriók</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="#">Cimkék</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item border-top2">
                    <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#submenu2" role="button" aria-expanded="false" aria-controls="submenu2">
                    <span>
                        <i class="pe-1 bi bi-hdd"></i>
                        Média
                    </span>
                    </a>
                    <div class="collapse submenu bg-black p-0 m-0" id="submenu2">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link link-light" href="#">összes média</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="#">média hozzáadása</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="#">Média kategóriák</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="#">Média beállítások</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item border-top2">
                    <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#pages" role="button" aria-expanded="false" aria-controls="pages">
                    <span>
                        <i class="pe-1 bi bi-file-earmark-fill"></i>
                        Oldalak
                    </span>
                    </a>
                    <div class="collapse submenu bg-black p-0 m-0" id="pages">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link link-light" href="#">összes oldal</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="#">média hozzáadása</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="#">Média kategóriák</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="#">Média beállítások</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item border-top2">
                    <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#comments" role="button" aria-expanded="false" aria-controls="comments">
                    <span>
                        <i class="pe-1 bi bi-chat-square-fill"></i>
                        Hozzászólások
                    </span>
                    </a>
                    <div class="collapse submenu bg-black p-0 m-0" id="comments">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link link-light" href="#">összes hozzászólás</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="#">média hozzáadása</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="#">Média kategóriák</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="#">Média beállítások</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item border-top2">
                    <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#design" role="button" aria-expanded="false" aria-controls="design">
                    <span>
                        <i class="pe-1 bi bi-brush-fill"></i>
                        Megjelelenés
                    </span>
                    </a>
                    <div class="collapse submenu bg-black p-0 m-0" id="design">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link link-light" href="#">összes hozzászólás</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="#">média hozzáadása</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="#">Média kategóriák</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="#">Média beállítások</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item border-top2">
                    <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#design" role="button" aria-expanded="false" aria-controls="design">
                    <span>
                        <i class="pe-1 bi bi-wrench"></i>
                        Eszközök
                    </span>
                    </a>
                    <div class="collapse submenu bg-black p-0 m-0" id="design">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link link-light" href="#">összes hozzászólás</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="#">média hozzáadása</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="#">Média kategóriák</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="#">Média beállítások</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item border-top2">
                    <a class="nav-link text-white d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#design" role="button" aria-expanded="false" aria-controls="design">
                    <span>
                        <i class="pe-1 bi bi-sliders2-vertical"></i>
                        Beállítások
                    </span>
                    </a>
                    <div class="collapse submenu bg-black p-0 m-0" id="design">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link link-light" href="#">összes hozzászólás</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="#">média hozzáadása</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="#">Média kategóriák</a></li>
                            <li class="nav-item"><a class="nav-link link-light" href="#">Média beállítások</a></li>
                        </ul>
                    </div>
                </li>

            </ul>
        </section>



    </div>
</aside>
